//Layout - styles for all layout and or grid system
.row {
  margin: 0 5% 20px;
  width: 90%;
  max-width: 800px;
  @include respond-to-min($med) {
    margin: 0 auto 20px;
  }
}

.row--full {
  width: 100%;
  margin: 0 auto 20px;
}

.grid {
	@include clearfix;
	margin-left: -10px;
}

.col {
	box-sizing: border-box;
	float: left;
	min-height: 1px;
	width: 100%;
	margin-bottom: 10px;
  padding-left: 10px;
	@include respond-to-min($med) {
		margin-bottom: 0;
	}
}


@include respond-to-min($med) {
	@include widths(12);
}
