//palette table styles

.palette-table {
  width: 100%;
  height: 100%;
}

.palette-table__col {
  width: 22%;
  text-align: center;
  border: 2px solid transparent;
  height: 100%;
  @include respond-to-min($med){
    width: 20%;
  }
}

.palette-table__color {
  width: 12%;
  @include respond-to-min($med){
    width: 20%;
  }

  .accessibility-palette--overall & {
    display: none;
  }
}

.palette-table__col-title {
  display: none;
  padding: 20px 10px;
  @include respond-to-min($small){
    display: block;
    background-color: rgba(0,0,0,.5);
    height: 100%;
  }
  @include respond-to-min($med){
    padding: 25px;
  }
}

.palette-table__col-item {
  padding: 20px 10px;
  @include respond-to-min($med){
    padding: 25px;
  }
}


.palette__item-color-text {
    text-indent: -9999em;
    display: inline-block;
}
