<article>
	<div class="row">
		<h1 data-title class="main-title">Text on background image a11y check</h1>
		<p>This is a guide to foreground colour accessibility on a background image.</p>
		<p>It is intended as guide for designers and developers to test if their design solution is accessible.</p>
		<p>Change the text size, colour and position. It will check the dimensions of the textarea against the background image.</p>
	</div>
	<div class="row row--full">
		{{> picture/picture src="flower.jpg" id="ImageTest" }}
	</div>
	<div class="row">
		<div class="grid">
			<div class="col col--1/2">
				{{> file-upload/file-upload }}
			</div>
			<div class="col col--1/4">
				{{> color-picker/color-picker }}
			</div>
			<div class="col col--1/4">
				{{> font-size-picker/font-size-picker }}
			</div>
		</div>
	</div>

	<div class="row">
	  <h2 class="compliance-indicators__title">WCAG 2 Compliance Guidance</h2>
		<p class="compliance-indicators__desc">Based on an assesement on 8 colours shown in the overall palette below it is recommended that text on the background is accessible by the following result.</p>
		<div class="accessibility-palette--overall" data-accessibility-palette-overall></div>
	</div>
	<div class="row">
		<h2 class="title">Image colour palette</h2>
		<div class="palette__item palette__item--main-color">
			<div class="accessibility-palette" data-accessibility-palette></div>
		</div>
		<div data-palette-container></div>
	</div>
</article>
