<article>
	<div class="row">
		<h1 data-title data-labels class="main-title">Text on background image a11y check</h1>
	</div>
	<div class="row row--full">
		{{> picture/picture src="flower.jpg" id="ImageTest" }}
	</div>
	<div class="row">
		<div class="grid">
			<div class="col col--1/2">
				{{> file-upload/file-upload }}
			</div>
			<div class="col col--1/4">
				{{> color-picker/color-picker }}
			</div>
			<div class="col col--1/4">
				{{> font-size-picker/font-size-picker }}
			</div>
		</div>
	</div>
	<div class="row">
		{{> compliance-indicators/compliance-indicators }}
	</div>
	<div class="row">
	  <h2 class="compliance-indicators__title" data-labels>Guidance</h2>
		<p class="compliance-indicators__desc" data-labels>Based on an assesement on 8 colours shown in the overall palette below the text on the image is</p>
		<p class="compliance-indicators__result" data-labels data-compliance-result>
		</p>
	</div>
	<div class="row">
		<h2 class="title" data-labels>Image colour palette</h2>
		<div class="palette__item palette__item--main-color">
			<h3 class="title" data-labels>Main Colour</h3>


			<div class="accessibility-palette" data-accessibility-palette>

			</div>
		</div>
		<div data-palette-container></div>
	</div>
</article>
