<article>
	<div class="row">
		<h1 data-title data-labels class="main-title">Text on background image a11y check</h1>
	</div>
	<div class="row row--full">
		{{> picture/picture src="flower.jpg" id="ImageTest" }}
	</div>
	<div class="row">
		<div class="grid">
			<div class="col col--1/2">
				{{> file-upload/file-upload }}
			</div>
			<div class="col col--1/4">
				{{> color-picker/color-picker }}
			</div>
			<div class="col col--1/4">
				{{> font-size-picker/font-size-picker }}
			</div>
		</div>
	</div>
	<div class="row">
		{{> complience-indicators/complience-indicators }}
	</div>
	<div class="row">
		<h2 class="title" data-labels>Image colour palette</h2>
		<div data-palette-container></div>
	</div>
</article>
