<article>
	<div class="row">
		<h1 data-title data-labels class="main-title">Text on background image a11y check</h1>
	</div>
	<div class="row row--full">
		{{> picture/picture src="flower.jpg" id="ImageTest" }}
	</div>
	<div class="row">
		<div class="grid">
			<div class="col col--1/2">
				{{> file-upload/file-upload }}
			</div>
			<div class="col col--1/4">
				{{> color-picker/color-picker }}
			</div>
			<div class="col col--1/4">
				{{> font-size-picker/font-size-picker }}
			</div>
		</div>
	</div>

	<div class="row">
	  <h2 class="compliance-indicators__title" data-labels>WCAG 2 Compliance Guidance</h2>
		<p class="compliance-indicators__desc" data-labels>Based on an assesement on 8 colours shown in the overall palette below it is recommended that text on the background is accessible by the following result.</p>
		<div class="accessibility-palette--overall" data-accessibility-palette-overall></div>
	</div>
	<div class="row">
		<h2 class="title" data-labels>Image colour palette</h2>
		<div class="palette__item palette__item--main-color">
			<div class="accessibility-palette" data-accessibility-palette></div>
		</div>
		<div data-palette-container></div>
	</div>
</article>
