//color palette

.accesibility-palette {
  display: inline-block;
  vertical-align: top;
  margin: 10px;
}

.palette__item-color {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  border: 2px solid #fff;
  margin: 10px;
  display: inline-block;
}

.accesibility-palette-indicator {
  width: 100%;
  padding: 30px;
  vertical-align: middle;
  text-align: center;
}
