//color palette

.accesibility-palette {
  display: inline-block;
  vertical-align: top;
  margin: 10px;
}



.accesibility-palette-indicator {
  // vertical-align: middle;
  // text-align: center;
}
