<div class="compliance-indicators">
  <h2 class="compliance-indicators__title" data-labels>WCAG 2 Compliance Recommendation</h2>
  <div class="grid">
    <div class="col col--1/4">
      <div class="compliance-indicators__item compliance-indicators__item--aa" compliance-indicators-item="aa">
        <h3 class="compliance-indicators__item-title">AA</h3>
        <p class="compliance-indicators__item-description" data-complient-indicator="aa"></p>
      </div>
    </div>
    <div class="col col--1/4">
      <div class="compliance-indicators__item compliance-indicators__item--aa-plus" compliance-indicators-item="aaPlus">
        <h3 class="compliance-indicators__item-title">AA (18pt+)</h3>
        <p class="compliance-indicators__item-description" data-complient-indicator="aa"></p>
      </div>
    </div>
    <div class="col col--1/4">
      <div class="compliance-indicators__item compliance-indicators__item--aaa" compliance-indicators-item="aaa">
        <h3 class="compliance-indicators__item-title">AAA</h3>
        <p class="compliance-indicators__item-description" data-complient-indicator="aa"></p>
      </div>
    </div>
    <div class="col col--1/4">
      <div class="compliance-indicators__item compliance-indicators__item--aaa-plus" compliance-indicators-item="aaaPlus">
        <h3 class="compliance-indicators__item-title">AAA (18pt+)</h3>
        <p class="compliance-indicators__item-description" data-complient-indicator="aa"></p>
      </div>
    </div>
  </div>
</div>
