<div class="complience-indicators">
  <h2 class="complience-indicators__title" data-labels>WCAG 2 Compliance Recommendation</h2>
  <div class="grid">
    <div class="col col--1/4">
      <div class="complience-indicators__item complience-indicators__item--aa" complience-indicators-item="aa">
        <h3 class="complience-indicators__item-title">AA</h3>
        <p class="complience-indicators__item-description" data-complient-indicator="aa"></p>
      </div>
    </div>
    <div class="col col--1/4">
      <div class="complience-indicators__item complience-indicators__item--aa-plus" complience-indicators-item="aaPlus">
        <h3 class="complience-indicators__item-title">AA (18pt+)</h3>
        <p class="complience-indicators__item-description" data-complient-indicator="aa"></p>
      </div>
    </div>
    <div class="col col--1/4">
      <div class="complience-indicators__item complience-indicators__item--aaa" complience-indicators-item="aaa">
        <h3 class="complience-indicators__item-title">AAA</h3>
        <p class="complience-indicators__item-description" data-complient-indicator="aa"></p>
      </div>
    </div>
    <div class="col col--1/4">
      <div class="complience-indicators__item complience-indicators__item--aaa-plus" complience-indicators-item="aaaPlus">
        <h3 class="complience-indicators__item-title">AAA (18pt+)</h3>
        <p class="complience-indicators__item-description" data-complient-indicator="aa"></p>
      </div>
    </div>
  </div>
</div>
