<div class="complience-indicators">
  <div class="grid">
    <div class="col col--1/4">
      <div class="complience-indicators__item complience-indicators__item--aa" complience-indicators-item="aa">
        WCAG 2 AA Compliant
      </div>
    </div>
    <div class="col col--1/4">
      <div class="complience-indicators__item complience-indicators__item--aa-plus" complience-indicators-item="aa+">
        WCAG 2 AA Compliant (18pt+)
      </div>
    </div>
    <div class="col col--1/4">
      <div class="complience-indicators__item complience-indicators__item--aaa" complience-indicators-item="aaa">
        WCAG 2 AAA Compliant
      </div>
    </div>
    <div class="col col--1/4">
      <div class="complience-indicators__item complience-indicators__item--aaa-plus" complience-indicators-item="aaa+">
        WCAG 2 AAA Compliant (18pt+)
      </div>
    </div>
  </div>
</div>
