		<!-- add scripts here -->
		<script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
		<script src="/_client/scripts/bundle-critical.js"></script>
		<script src="/_client/scripts/bundle.js"></script>
		<script src="/_client/templates/templates.js"></script>
	</body>
</html>
