<!DOCTYPE html>
<html>
	<head>
		<title>Basic Node site</title>
		<link rel="stylesheet" href="/_client/styles/main.css" />
		<meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1">
  		<link rel="icon" type="image/png" href="/_client/images/favicon.png" />
			<script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
	</head>
	<body>
