<!DOCTYPE html>
<html lang="en-GB">
	<head>
		<title>A11y accessibility check for text colour on background image</title>
		<link rel="stylesheet" href="_client/styles/main.css" />
		<meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
