<!DOCTYPE html>
<html>
	<head>
		<title>Basic Node site</title>
		<link rel="stylesheet" href="/_client/styles/main.css" />
		<meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1">
  		<link rel="icon" type="image/png" href="/_client/images/favicon.png" />
	</head>
	<body>
