<div class="color-picker">
  <label for="text-color" class="color-picker__label">Pick a colour for text</label>
  <input class="jscolor color-picker__input" data-js-color type="text" id="text-color" >
</div>
