//color-picker styles
.font-size-picker__input {
  padding: 10px;
  border: none;
  border-radius: 10px;
  width: 60px;
  color: #000;
}

.font-size-picker__label {
  display: block;
  margin-bottom: 10px;
}
