<div class="font-size-picker">
  <label for="font-size" class="font-size-picker__label">Set font size</label>
  <input class=" font-size-picker__input" data-font-size type="number" pattern="[0-9]*" min="0" max="1000" id="font-size" step="1" value="16" >
</div>
