//Variables for colors

$c-grey: 					#e5e5e5;
$c-dark:					#373737;
$c-blue:					#3399FF;
$c-dark-blue:				#006699;	

$c-navigation-primary-bg: 	$c-grey;
$c-links:					$c-blue;
$c-links-visited:			$c-dark-blue;