//Layout these are 'em' widths based on default font size of 16px;

$xsmall:        21.875em; //350px;
$small: 				28.750em; //460px;
$med:           50.625em; //810px;
$large: 				60.000em; //960px;
$max: 					80em; //1280px;
$wrapper:       64em; //1024px;

$small-height:  31.250em; //500px;
