<div class="image-uploader">
  <label for="image-uploader-file" class="image-uploader__label">upload image</label>
  <input type="file" id="image-uploader-file" class="image-uploader__input" data-image-uploader-file />
</div>
