<div class="image-uploader">
  <input type="file" id="image-uploader-file" class="image-uploader__input" data-image-uploader-file />
  <label for="image-uploader-file" class="image-uploader__label">upload image</label>
</div>
