<div class="picture">
  <div class="picture__frame">
    <img id="{{id}}" class="picture__image" src="_client/images/{{src}}" alt="nature pic" />
    <div class="picture__text">
      <label for="picture-text" class="picture__textarea-label">Add text to test</label>
      <textarea class="picture__textarea" name="picture-text">Am I complient on this background?</textarea>
    </div>
  </div>
</div>
