//picture

.picture__frame {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}
.picture__image {
  width: 100%;
  display: block;
}

.picture__text {
  position: absolute;
  margin: 0 auto;
  top: 40px;
  left: 40px;
  border: 20px solid rgba(255,255,255, .2);
  cursor: move;
  padding: 10px;
  font-size: 18px;
}

.picture__textarea {
  background-color: transparent;
  border: 1px solid rgba(255,255,255,.2);
  color: #fff;
  font-size: 18px;
  width: auto;
  height: auto;
}

.picture__textarea-label {
  display: none;
}
