<div class="picture">
  <div class="picture__frame" data-picture-frame>
    <img id="{{id}}" class="picture__image" src="_client/images/{{src}}" alt="nature pic" data-main-image />
    <div class="picture__text" data-text-drag-frame>
      <label for="picture-text" class="picture__textarea-label">Add text to test</label>
      <textarea class="picture__textarea" id="picture-text" name="picture-text" data-textarea>Am I complient on this background?</textarea>
    </div>
  </div>
</div>
